.container
	.profile-field
		%h2 Profile
		= image_tag @profile.avatar, alt: 'プロフィール画像', class: 'profile-avatar'
		%p.profile-name= @profile.nickname
		%p.profile-introduction= @profile.introduction

	= link_to 'Edit', edit_profile_path, class: 'btn--link'
