.container
	%h2= @task_title
	-# = render partial: 'common/index.html.haml' ,locals: {boards: @board.tasks.all, path: board_task_path}
	%div
	- @tasks.all.each do |task|
		.boards
			.boards-header
				%h3= link_to task.title, board_tasks_path(task), class: 'boards-title'
			= simple_format(h(task.content), class: 'boards-description')
			.boards-user-info
				-# = image_tag @user.has_avatar?(task.user_id), alt: 'ユーザーアイコン', class: 'boards-author-icon'
				-# %span.boards-user-name= @user.has_nickname?(task.user_id)
	= link_to new_board_task_path(@tasks.first.board_id), class: 'link-text' do
		.boards-new
			%p+ Add new card
