$btn_submit_color: rgba(248, 189, 28, 1);
$btn-primary: #2196f3;

$color-white: #fff;
$color-black: #000;

$min-font-size: .8em;
$line-height-spacing: 1.5em;

$transparent_gray: rgba(244, 244, 244, 1);
